<%= link_to 'sign in', new_session_path %> |
<%= link_to 'register', new_user_path %>

<% if @posts %>
  <% @posts.each do |post| %>
    <h1><%= link_to post.title, post_path(post) %></h1>
    <p><%= post.body %></p>
  <% end %>
<% end %>
