@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* universal */
html {
  height: 100%;
  width: 100%;
}

body {
  max-width: 100%;
  min-width: 980px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

p {
  margin: 0 0 1em 0;
}

a { color: #007eff; }
a:visited { color: #65b1ff; }

/* Header */

header {
  height: 145px;
  background-color: #000;
  position: relative;
}

header a.main-logo {
  position: absolute;
  display: block;
  width: 172px;
  height: 140px;
  background: image-url('logo_172px.png') no-repeat center;
  background-size: contain;
  top: 5px;
  left: 40px;
  z-index: 1;
}

/* Welcome Page Header */

header#welcome-page {
  width: 100%;
  height: 600px;
  background: image-url('tennis_banner_1300px.jpg') no-repeat center bottom;
  background-size: cover;
  border-bottom: 18px solid black;
}

.welcome-logo {
  display: block;
  width: 100%;
  height: 180px;
  background: image-url('main-logo_240px.png') no-repeat center center;
}

div#navbar {
  display: block;
  text-transform: uppercase;
  width: 100%;
}

nav.welcome-page {
  text-align: center;
}

nav.welcome-page > ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 172px;
  list-style: none;
}

nav.welcome-page > ul > li {
  display: block;
  float: left;
}

nav.welcome-page ul li a {
  width: auto;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  font-size: 13px;
  letter-spacing: .5px;
  cursor: pointer;
}

nav.welcome-page ul li a:hover {
  color: #ACFF50;
}

nav.welcome-page ul ul {
  list-style: none;
  display: none;
  text-align: left !important;
  margin: 0;
  padding: 0;
}

nav.welcome-page ul li:hover > ul {
  display: block;
}

nav.welcome-page a[arial-label]::after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

nav.welcome-page::after {
  content: '';
  display: block;
}

/* Navigation */

nav.app-navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 95px;
  width: 100%;
}

nav.app-navbar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav.app-navbar ul li a {
  display: inline-block;
  color: #fff;
  padding: 7px 10px;
  text-decoration: none;
  width: auto;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .5px;
}

header.main nav ul li:last-child:hover {
  background-color: #000;
  width: auto;
}

nav.app-navbar ul li a[arial-label]::after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

nav.app-navbar ul ul {
  display: none;
}

nav.app-navbar ul li:hover > ul {
  display: block;
  width: 125px;
}

nav.app-navbar ul li a:visited {
  color: #fff;
}

nav.app-navbar ul li a:hover {
  color: #ACFF60;
}

nav.app-navbar > ul {
  padding-left: 60%;
  z-index: 1;
}

nav.app-navbar > ul > li {
  float: left;
}

/* Main section */

section.main {
  position: relative;
  height: 430px;
  background: image-url('lines_1200px.png') no-repeat center center;
  background-size: cover;
}

.welcome-h1 {
  padding-top: 60px;
  width: 100%;
  text-align: center;
}

.welcome-h1 h1 {
  font-size: 2.7em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.get-started {
  width: 100%;
  padding-top: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.get-started a.btn {
  margin-top: 30px;
  background-color: #ACFF60;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  letter-spacing: .5px;
  transition: background-color .5s;
}

.get-started a.btn:hover {
  background-color: rgba(172,255,96,.6);
  color: white;
}

p.login {
  margin-left: 30px;
  padding-top: 25px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/* Registration form */

.registration {
  width: 100%;
  height: 600px;
}

.avatar {
  width: 35%;
  height: 500px;
  position: relative;
  float: left;
}

.image {
  width: 220px;
  height: 220px;
  margin-top: 50px;
  margin-left: 35%;
  border: 2px solid #ACFF60;
}

.upload {
  position: absolute;
  top: 300px;
  left: 155px;
  text-align: center;
}

.form-fields {
  margin-top: 60px;
  width: 57%;
  height: 500px;
  float: right;
  position: relative;
}

.top {
  width: 100%;
}

.reg-email, .fullname, .reg-password, .screen_name {
  display: inline-block;
  padding: 30px 20px 0 0;
}

.reg-email {
  width: 55%;
}

.top input {
  margin-top: 5px;
  padding: 4px;
  border: 1px solid #ACFF60;
  width: 200px;
}

.bio {
  padding-top: 30px;
}

.middle {
  width: 100%;
}

.age, .zipcode, .rating {
  padding-top: 30px;
  width: 119px;
  margin-right: 40px;
  display: inline-block;
}

.age input, .rating input, .zipcode input, .bottom input {
  border: 1px solid #ACFF60;
}

.bottom {
  padding-top: 30px;
  width: 100%;
}

.gender, .handed {
  display: inline-block;
  margin-right: 40px;
}

.registration label {
  text-transform: uppercase;
  font-size: .7em;
  margin-right: 20px;
}

.form-fields textarea {
  width: 440px;
  height: 60px;
  margin-top: 5px;
  border: 1px solid #ACFF60;
  display: block;
}

div.registration h1 {
  padding-top: 35px;
  position: absolute;
  left: 43%;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.actions input {
  border: 1px solid #ACFF60;
  margin-top: 55px;
  font-weight: bold;
  background-color: #ACFF60;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  letter-spacing: .5px;
  transition: background-color .5s;
}
/* Sign in form */

div.sign-in-form {
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

div.sign-in-form .email {
  width: 240px;
  float: left;
}

div.sign-in-form .email input {
  margin-top: 5px;
  padding: 4px;
  border: 1px solid #ACFF60;
  width: 200px;
}

div.sign-in-form .password {
  width: 240px;
  float: left;
}

div.sign-in-form .password input {
  margin-top: 5px;
  padding: 4px;
  border: 1px solid #ACFF60;
  width: 200px;
}

input.sign-in {
  border: 1px solid #ACFF60;
  margin-top: 70px;
  font-weight: bold;
  background-color: #ACFF60;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  position: relative;
  font-size: 12px;
  left: -480px;
  letter-spacing: .5px;
  transition: background-color .5s;
}

.sign-in:hover {
  background-color: rgba(172,255,96,.8);
  color: white;
}

input.sign-in:hover, .create:hover input, .actions:hover input {
  background-color: rgba(172,255,96,.6);
  color: white;
  cursor: pointer;
}

p.new-user {
  margin-left: 30px;;
  font-size: .8em;
}

p.new-user a {
  text-decoration: none;
}

p.new-user a:hover {
  color: #0E91BF;
}

/* Flash notice */

.notice {
  height: 1.25em;
  padding: 0.5em;
  text-align: center;
  background: #B6D491;
  color: #4C2516;
}

/* footer */

footer {
  font-size: .8em;
  margin: 40px 0 30px 0;
  color: #777;
  text-align: center;
  clear: both;
}

footer .content {
  display: inline;
}

footer a {
  margin-left: 30px;
  color: #777;
}

footer a:visited {
  margin-left: 30px;
  color: #777;
}

footer a:hover {
  margin-left: 30px;
  color: #000;
}
