@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* universal */

html {
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
}

p {
  margin: 0 0 1em 0;
}

a { color: #007eff; }
a:visited { color: #65b1ff; }

/* Header */

header {
  height: 150px;
  background-color: #000;
  position: relative;
}

header a.main-logo {
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  background: url(logo1.png) no-repeat 0 0;
  background-size: contain;
  top: 5px;
  left: 20px;
  z-index: 1;
}

/* Index Header */

header#index-page {
  height: 430px;
  background: url(http://placehold.it/1200x450) no-repeat center bottom;
  border-bottom: 18px solid black;
}

header a.logo {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  background: url(logo_300x200.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  z-index: 1;
}

/* Navigation */

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 85px 0 0 0 ;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  width: auto;
  position: relative;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: -1;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  color: #ACFF60;
}

nav > ul {
  padding-left: 50%;
}

nav > ul > li {
  float: left;
}

/* Index Navigation */

nav.index-page {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 200px 0 0 0;
  width: 100%;
}

nav.index-page::after {
  content: '';
  display: block;
}

nav.index-page ul {
  list-style: none;
  position: relative;
  margin: 0px;
  padding: 0px;
}

nav.index-page ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  width: 100px;
}

nav.index-page ul li a:hover {
  color: #ACFF50;
}

nav.index-page > ul {
  padding-left: 27%;
}

nav.index-page > ul > li {
  float: left;
}

nav.index-page > ul > li > a {
  width: auto;
}

nav.index-page ul ul {
  display: none;
}

nav.index-page ul li:hover > ul {
  display: block;
}

/* Main section */

section.main {
  position: relative;
  height: 500px;
  background: url(http://placehold.it/1200x500) no-repeat center bottom;
  text-align: center;
}

section a.btn {
  position: absolute;
  top: 60%;
  margin-left: -100px;
  font-weight: bold;
  background-color: #ACFF60;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  letter-spacing: .5px;
  transition: background-color .5s;
}

section a.btn:hover {
  background-color: rgba(172,255,96,.8);
  color: white;
}

/* footer */

footer {
  font-size: .8em;
  margin: 40px;
  color: #777;
}

footer .content {
  display: inline;
}

footer a {
  margin-left: 30px;
  color: #777;
}

footer a:visited {
  margin-left: 30px;
  color: #777;
}

footer a:hover {
  margin-left: 30px;
  color: #000;
}
/* flash */

.notice {
  color: #32cd32;
}
