@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* universal */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 25px;
  margin: 0 0 1em 0;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
}

p {
  margin: 0 0 1em 0;
}

a { color: #007eff; }
a:visited { color: #65b1ff; }

/* Header */

header {
  height: 132px;
  background-color: #000;
  position: relative;
}

header a.main-logo {
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  background: url(logo1.png) no-repeat 0 0;
  background-size: contain;
  top: 5px;
  left: 20px;
  z-index: 1;
}

/* Index Header */

header#index-page {
  height: 450px;
  background: url(banner_1200x450.jpg) no-repeat center bottom;
  border-bottom: 18px solid black;
  width: 100%;
}

header a.logo {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  background: url(logo_300x200.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  z-index: 1;
}

/* Navigation */

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 85px 0 0 0 ;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  width: auto;
  font-weight: bolder;
  position: relative;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: -1;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  color: #ACFF60;
}

nav > ul {
  padding-left: 50%;
  z-index: 1;
}

nav > ul > li {
  float: left;
}

/* Index Navigation */

nav.index-page {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 150px 0 0 0;
  width: 100%;
}

nav.index-page a[arial-label]::after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 75px;
  right: auto;
  bottom: 6px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

nav.index-page a[arial-label]::after:hover {
  display: none;
}


nav.index-page::after {
  content: '';
  display: block;
}

nav.index-page ul {
  list-style: none;
  position: relative;
  margin: 0px;
  padding: 0px;
}

nav.index-page ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  width: 100px;
}

nav.index-page ul li a:hover {
  color: #ACFF50;
}

nav.index-page > ul {
  padding-left: 29%;
}

nav.index-page > ul > li {
  float: left;
}

nav.index-page > ul > li > a {
  width: auto;
}

nav.index-page ul ul {
  display: none;
}

nav.index-page ul li:hover > ul {
  display: block;
}

/* Main section */

section.main {
  position: relative;
  height: 430px;
  background: url(lines.png) no-repeat center bottom;
}

section.main h1 {
  margin-left: 35px;
  padding-top: 60px;
  font-size: 3em;
  text-transform: uppercase;
}

p.login {
  margin-left: 30px;
  padding-top: 40px;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

section a.btn {
  position: absolute;
  top: 60%;
  left: 41%;
  font-weight: bold;
  background-color: #ACFF60;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  letter-spacing: .5px;
  transition: background-color .5s;
}

section a.btn:hover, .sign-in:hover {
  background-color: rgba(172,255,96,.8);
  color: white;
}

.sign-in {
  display: block;
  border: 1px solid #ACFF60;
  margin-top: 45px;
  font-weight: bold;
  background-color: #ACFF60;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  letter-spacing: .5px;
  transition: background-color .5s;
}

.sign-in:hover {
  background-color: rgba(172,255,96,.8);
  color: white;
  cursor: pointer;
}

/* Sign-in form */

.sign-in-form {
  text-transform: uppercase;
  font-size: .8em;
  padding-left: 30px;
  margin-bottom: 30px;
}

.email, .password {
  padding: 4px;
  border: 1px solid #ACFF60;
  width: 200px;
}

p.new-user {
  margin-left: 30px;;
  font-size: .8em;
}

p.new-user a {
  text-decoration: none;
}

p.new-user a:hover {
  color: #0E91BF;
}

/* footer */

footer {
  font-size: .8em;
  margin: 40px;
  color: #777;
  text-align: center;
}

footer .content {
  display: inline;
}

footer a {
  margin-left: 30px;
  color: #777;
}

footer a:visited {
  margin-left: 30px;
  color: #777;
}

footer a:hover {
  margin-left: 30px;
  color: #000;
}
