@import url(https://fonts.googleapis.com/css?family=Montserrat:300italic,700italic,300,700);
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
}

p {
  margin: 0 0 1em 0;
}

a { color: #007eff; }
a:visited { color: #65b1ff; }

/* header */

header#index-page {
  height: 430px;
  background: url(http://placehold.it/1200x450) no-repeat center bottom;
  border-bottom: 18px solid black;
}

/* main section */

section.main {
  height: 500px;
  background: url(http://placehold.it/1200x500) no-repeat center bottom;
}

section.main a {
  margin-top: 30px;
  position: absolute;
  left: 45%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer ul {
  float: right;
  list-style: none;
}

/* flash */

.notice {
  color: #32cd32;
}
